<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <i class="fas fa-book"></i>
            <span>BookManager</span>
        </div>
        <ul class="nav-menu">
            <li><a href="#" class="nav-link active" routerLink="/accueil">Accueil</a></li>
            <li><a href="#" class="nav-link" routerLink="/meslivres">Mes livres</a></li>
            <li><a href="#" class="nav-link" routerLink="/ajoutlivre">Ajouter un livre</a></li>
            <li><a href="#" class="nav-link logout" (click)="logout()">Déconnexion</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>